.admin-page {
    .dashboard-scrollbar::-webkit-scrollbar {
        width: 11px;
    }
    
    .dashboard-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #90A4AE #ee4d2d;
    }
    
    .dashboard-scrollbar::-webkit-scrollbar-track {
        background: #ee4d2d;
    }
    
    .dashboard-scrollbar::-webkit-scrollbar-thumb {
        background-color: #90A4AE;
        border-radius: 6px;
        border: 3px solid #ee4d2d;
    }
    .category-list-child {
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height linear .3s;
    }
    .i-show {
        max-height: 200px;
    }
}



