.card-product {
  border-left: 1px solid #e3e4e6;
  border-bottom: 1px solid #e3e4e6;
}

.card-product:nth-child(10n) {
  border-right: 1px solid #e3e4e6;
}

.card-product:hover {
  cursor: pointer;
  transform: translateZ(0);
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
}

.header-item:hover {
  filter: brightness(90%);
}
