@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_1.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_1.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Medium_2.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Bold.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Light_2.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica/Helvetica-Bold.eot');
  src: url('./assets/fonts/Helvetica/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/Helvetica-Bold.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/Helvetica-Bold.woff') format('woff'),
      url('./assets/fonts/Helvetica/Helvetica-Bold.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Bold_1.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_1.svg#HelveticaNeue-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.eot');
  src: url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.woff2') format('woff2'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.woff') format('woff'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.ttf') format('truetype'),
      url('./assets/fonts/Helvetica/HelveticaNeue-Italic_2.svg#HelveticaNeue-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* FONT POPPINS */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ThinItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-ThinItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Thin.eot');
  src: url('./assets/fonts/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Thin.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Thin.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Thin.svg#Poppins-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Medium.eot');
  src: url('./assets/fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Medium.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.eot');
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.eot');
  src: url('./assets/fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Italic.eot');
  src: url('./assets/fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Italic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Italic.svg#Poppins-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-LightItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-MediumItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.eot');
  src: url('./assets/fonts/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-ExtraLight.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Light.eot');
  src: url('./assets/fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-BlackItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-BlackItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Bold.eot');
  src: url('./assets/fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Bold.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.eot');
  src: url('./assets/fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Black.eot');
  src: url('./assets/fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-Black.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-Black.svg#Poppins-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-BoldItalic.eot');
  src: url('./assets/fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
      url('./assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
      url('./assets/fonts/Poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


:root {
  font-family: Helvetica Neue, Arial, sans-serif;
}

body {
  display: unset;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
